# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/MotionDurability/DesignTimeBuild/.dtbcache.v2
.vs/MotionDurability/v16/.suo
Example/Output/Body/Body_LCA.csv
Example/Output/Body/Body_LCA_fixed.csv
Example/Output/Body/Body_LCA_fixed_0726.csv
Example/Output/Body/Body_LCA_original.csv
Example/Output/Body/Body_LCA_Transform.csv
Example/Output/Body/Body_LCA1.csv
Example/Output/Force/Force_Tire.csv
Example/Output/Force/Force_Tire_Fixed.csv
MDDurability/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
MDDurability/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MDDurability/obj/Debug/MDDurability.csproj.AssemblyReference.cache
MDDurability/obj/Debug/MDDurability.csproj.CoreCompileInputs.cache
MDDurability/obj/Debug/MDDurability.csproj.FileListAbsolute.txt
MDDurability/obj/Debug/MDDurability.pdb
MDDurability/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
MDDurability/obj/Release/build.force
MDDurability/obj/Release/MDDurability.csproj.AssemblyReference.cache
MotionDurability/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
MotionDurability/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MotionDurability/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MotionDurability/obj/Debug/Motion.Durability.Form_config.resources
MotionDurability/obj/Debug/Motion.Durability.Properties.Resources.resources
MotionDurability/obj/Debug/MotionDurability.csproj.AssemblyReference.cache
MotionDurability/obj/Debug/MotionDurability.csproj.CoreCompileInputs.cache
MotionDurability/obj/Debug/MotionDurability.csproj.FileListAbsolute.txt
MotionDurability/obj/Debug/MotionDurability.csproj.GenerateResource.cache
MotionDurability/obj/Debug/MotionDurability.pdb
MotionDurability/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
MotionDurability/obj/Release/build.force
MotionDurability/obj/Release/MotionDurability.csproj.AssemblyReference.cache
PostAPI/obj/PostAPI.csproj.nuget.dgspec.json
PostAPI/obj/PostAPI.csproj.nuget.g.props
PostAPI/obj/PostAPI.csproj.nuget.g.targets
PostAPI/obj/project.assets.json
PostAPI/obj/project.nuget.cache
PostAPI/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PostAPI/obj/Debug/PostAPI.AssemblyInfo.cs
PostAPI/obj/Debug/PostAPI.AssemblyInfoInputs.cache
PostAPI/obj/Debug/PostAPI.assets.cache
PostAPI/obj/Debug/PostAPI.csproj.AssemblyReference.cache
PostAPI/obj/Debug/PostAPI.csproj.CoreCompileInputs.cache
PostAPI/obj/Debug/PostAPI.csproj.FileListAbsolute.txt
PostAPI/obj/Debug/PostAPI.GeneratedMSBuildEditorConfig.editorconfig
PostAPI/obj/Debug/PostAPI.pdb
PostAPI/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
PostAPI/obj/Release/PostAPI.AssemblyInfo.cs
PostAPI/obj/Release/PostAPI.AssemblyInfoInputs.cache
PostAPI/obj/Release/PostAPI.assets.cache
PostAPI/obj/Release/PostAPI.csproj.AssemblyReference.cache
PostAPI/obj/Release/PostAPI.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/MDDurability.pdb
bin/Debug/MotionDurability.exe.config
bin/Debug/MotionDurability.pdb
bin/Debug/PostAPI.pdb
bin/Debug/Resources/DataSource.db
bin/Debug/Resources/DataSourceDynamicContour.db
bin/Debug/Resources/DataSourceEigenValueContour.db
bin/Debug/Resources/DataSourceModeContributionContour.db
bin/Debug/Resources/dfpre.unit.xml
bin/Debug/Resources/HTMLStyle.txt
RPC/Resources/DataSource.db
RPC/Resources/DataSourceDynamicContour.db
RPC/Resources/DataSourceEigenValueContour.db
RPC/Resources/DataSourceModeContributionContour.db
RPC/Resources/dfpre.unit.xml
RPC/Resources/HTMLStyle.txt
Example/Output/CSV/Body/Body_LCA.csv
Example/Output/CSV/Body/Body_LCA_fixed.csv
Example/Output/CSV/Body/Body_LCA_fixed_0726.csv
Example/Output/CSV/Body/Body_LCA_original.csv
Example/Output/CSV/Body/Body_LCA_Transform.csv
Example/Output/CSV/Body/Body_LCA1.csv
Example/Output/CSV/Force/Force_Tire.csv
Example/Output/CSV/Force/Force_Tire_Fixed.csv
Example/Output/CSV/Force/Force_Tire_Fixed_mod.csv
Example/Output/RPC/Force/Force_Tire.rsp
bin/Debug.7z
Example/Example.7z
Example/Map/Force_force_FrontLeft_export - Copy.xml
Example/Output/RPC/Body/Body_LCA.rsp
Example/Output/RPC/Force/FrontLeft.rsp
Example/RSP/tire1.rsp
Example/
MDDurability/obj/
MotionDurability/obj/
PostAPI/obj/
bin/
